.header {
    padding: 50px 0;
    text-align: center;
}

.accordion-button {
    background-color: white
}

#text {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 5px;
}

.col-8 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 5px;
}
.col-sm-3 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 5px;
}

.row {
    justify-content: center;
}

#carouselExampleDark {
    width: 800px;
}